@use "../helpers" as *;

.about {
  // background-color: black !important;
  h1 {
    position: relative;
    margin-left: 15px;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -15px;
      width: 5px;
      height: 100%;
      background-color: $mainColor;
    }
  }
  > div {
    padding: 50px 0;
  }
}
.title {
  background-image: url("../../../imgs/graphs.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
  color: white;
  font-family: "Playfair Display", serif;
  .overlay {
    opacity: 0.3;
  }
  h2 {
    font-size: 26px;
    margin-bottom: 10px;
    font-family: "poppins", sans-serif;
  }
  div.quote {
    width: fit-content;
    margin: auto;
    svg {
      position: absolute;
      font-size: 15px;
      color: $altColor;
      &:first-of-type {
        top: 0;
        left: -17px;
        @include mediaMobile {
          left: -12px;
        }
      }
      &:last-of-type {
        top: 0;
        right: -15px;
        @include mediaMobile {
          right: -12px;
        }
      }
      
    }
  }
}
.in-brief {
  color: white;
  .container {
    padding: 20px;
  }
  h1 {
    margin-bottom: 20px;
  }
  p {
    font-size: 18px;
    line-height: 1.7;
    z-index: 2;
    position: relative;
  }
}
.values {
  // background: linear-gradient(left, $background 50%, $mainColor);
  .content {
    border-radius: 10px;
    padding: 20px;
    height: 100%;
    width: 100%;
    color: white;
    background-color: #ae8633;
    h2 {
      position: relative;
      margin-bottom: 20px;
      z-index: 2;
      &::before {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 5px;
        width: 80px;
        height: 5px;
        background-color: $mainColor;
      }
    }
    ul {
      list-style: initial;
      padding-left: 20px;
    }
    p,
    li {
      position: relative;
      z-index: 2;
      line-height: 1.7;
    }
    img {
      position: absolute;
      width: 80px;
      right: 10px;
      bottom: 10px;
      z-index: 1;
    }
    .fa-people-group {
      font-size: 65px;
      color: $mainColor;
      bottom: 10px;
      right: 10px;
    }
  }
}
.our-services {
  color: white;
  .dots {
    background-image: url("../../../imgs/dots.png");
    height: 186px;
    width: 204px;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    filter: hue-rotate(565deg);
    &.dots-up {
      top: 50px;
      right: 0;
    }
    &.dots-down {
      bottom: 0px;
      left: 0;
    }
  }
  h1 {
    margin-bottom: 40px !important;
  }
  .content {
    border-radius: 10px;
    padding: 20px;
    color: white;
    width: 100%;
    line-height: 1.9;
    background-color: #ae8633;
    height: 100%;
    @include mediaMobile {
      flex-direction: column;
      width: 95%;
      margin: auto;
    }
    .heading {
      img {
        width: 120px;
      }
    }
    .text {
      h3 {
        position: relative;
        width: fit-content;
        &::before {
          content: "";
          position: absolute;
          bottom: -5px;
          left: 5px;
          width: 75%;
          height: 5px;
          background-color: $mainColor;
        }
      }
    }
  }
}
